In [11]:
import pandas as pd

# Specify the columns you want to import
columns2Import = ['INSTANCE', 'ORACLE']

# Read the CSV file, importing only the specified columns
groundTruthDF = pd.read_csv('Instances/VCP/VCP-Test I.csv', usecols=columns2Import)

groundTruthDF

                 INSTANCE  ORACLE
0    random_100_25_25.vcp       5
1    random_100_25_50.vcp       7
2    random_100_50_25.vcp       7
3    random_100_50_50.vcp      13
4    random_100_75_25.vcp      11
..                    ...     ...
595    random_9_25_50.vcp       8
596    random_9_50_25.vcp       8
597    random_9_50_50.vcp      12
598    random_9_75_25.vcp      11
599    random_9_75_50.vcp      19

[600 rows x 2 columns]

In [12]:
dqhhDF = pd.read_csv('DQHH.csv')

dqhhDF

                 INSTANCE   HH_DQHH
0    random_100_25_25.vcp         5
1    random_100_25_50.vcp         7
2    random_100_50_25.vcp         7
3    random_100_50_50.vcp        13
4    random_100_75_25.vcp        13
..                    ...       ...
595    random_9_25_50.vcp         8
596    random_9_50_25.vcp         9
597    random_9_50_50.vcp        12
598    random_9_75_25.vcp        11
599    random_9_75_50.vcp        19

[600 rows x 2 columns]

In [15]:
knnhhDF = pd.read_csv('KNNHH.csv')

knnhhDF

                 INSTANCE   HH_KNNHH
0    random_100_25_25.vcp          5
1    random_100_25_50.vcp          9
2    random_100_50_25.vcp          9
3    random_100_50_50.vcp         15
4    random_100_75_25.vcp         11
..                    ...        ...
595    random_9_25_50.vcp          9
596    random_9_50_25.vcp          9
597    random_9_50_50.vcp         14
598    random_9_75_25.vcp         12
599    random_9_75_50.vcp         20

[600 rows x 2 columns]

In [20]:
vcpValDF=pd.merge(groundTruthDF,knnhhDF,on='INSTANCE')
vcpValDF=pd.merge(vcpValDF,dqhhDF,on='INSTANCE')
vcpValDF

                 INSTANCE  ORACLE   HH_KNNHH   HH_DQHH
0    random_100_25_25.vcp       5          5         5
1    random_100_25_50.vcp       7          9         7
2    random_100_50_25.vcp       7          9         7
3    random_100_50_50.vcp      13         15        13
4    random_100_75_25.vcp      11         11        13
..                    ...     ...        ...       ...
595    random_9_25_50.vcp       8          9         8
596    random_9_50_25.vcp       8          9         9
597    random_9_50_50.vcp      12         14        12
598    random_9_75_25.vcp      11         12        11
599    random_9_75_50.vcp      19         20        19

[600 rows x 4 columns]

In [25]:
#print(vcpValDF.columns)
# Verify the presence of the columns before proceeding
required_columns = ['ORACLE', ' HH_KNNHH', ' HH_DQHH']
for column in required_columns:
    if column not in vcpValDF.columns:
        raise KeyError(f"Column '{column}' is missing in the DataFrame")

# Calculate the number of matches for HH_KNNHH
matches_KNNHH = (vcpValDF['ORACLE'] == vcpValDF[' HH_KNNHH']).sum()

# Calculate the percentage similarity for HH_KNNHH
similarity_percent_KNNHH = (matches_KNNHH / len(vcpValDF)) * 100

# Calculate the number of matches for HH_DQHH
matches_DQHH = (vcpValDF['ORACLE'] == vcpValDF[' HH_DQHH']).sum()

# Calculate the percentage similarity for HH_DQHH
similarity_percent_DQHH = (matches_DQHH / len(vcpValDF)) * 100

# Print the results
print(f"Similarity KNNHH: {round(similarity_percent_KNNHH,2)}%")
print(f"Similarity DQHH: {round(similarity_percent_DQHH,2)}%")

Similarity KNNHH: 54.666666666666664%
Similarity DQHH: 67.83333333333333%